<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Universidades Disponibles</title>
    <link rel="stylesheet" href="../styles/main.css">
    <link rel="stylesheet" href="../styles/available_destinations.css">
</head>
<body>
    <header>
        <div class="top-bar">
            <div class="logo-box">
                <img src="logo.png" alt="Logo" class="logo">
            </div>
            <div class="user-box">
                <button class="user-button">User</button>
            </div>
        </div>
        <nav class="navbar">
            <a href="index.html">INICIO</a>
            <a href="forum.html">FORUM</a>
            <a href="#destinos-populares">DESTINOS POPULARES</a>
            <a href="#convalidaciones">CONVALIDACIONES</a>
            <a href="search_destination.html">VER DESTINOS</a>
        </nav>
    </header>
    <!-- Aquí va el resto del contenido de tu página -->

    <h1 id="titulo">Universidades Disponibles</h1>

<div class="sort-bar">
    <h3>Ordenar por</h2>
    <button id="sortByAgreementNumber">Numero de Convenio</button>
    <button id="sortByCountry">País</button>
    <button id="sortByCity">Ciudad</button>
    <button id="sortByGrade">Titulacion</button>
    <button id="sortByLanguage">Idioma de Imparticion</button>
    <button id="sortByPlaces">Plazas</button>
    <button id="sortByDuration">Duracion</button>
</div>

<div class="universities-wrapper">
    <div id="universitiesContainer" class="cards-container">
        <!-- Las tarjetas de universidades se generan aquí dinámicamente -->
    </div>
    <!-- Icono Plus para añadir una nueva universidad, ahora fuera del contenedor de tarjetas -->
    <img src="../media/plus.png" id="añadirUniversidad" alt="Añadir Universidad" class="add-icon" />
</div>


<!-- Modal Editar Universidad -->
<div id="modalEditar" class="modal">
    <div class="modal-content">
        <span class="close-button">&times;</span>
        <h2>Editar Universidad</h2>
        <!-- El formulario se genera dinámicamente -->
    </div>
</div>

<script type="module" src="../scripts/available_destinations.js"></script>
</body>
</html>
