<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link rel="stylesheet" href="../styles/main.css">
    <link rel="stylesheet" href="../styles/index.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <link rel="stylesheet" href="../styles/header.css">
    <!--<link rel="stylesheet" href="../styles/footer.css">-->

</head>

<header>
    <div class="top-bar">
        <div class="logo-box">
            <a href="index.html"><img src="../media/logo.png" alt="Logo" class="logo"></a>
        </div>
        <div class="user-box" id="user-box-login">
            <a href="login.html"><button class="user-button" id="login-button">Login</button></a>
        </div>
        <div class="user-box" id="user-box-logout" style="display: none;">
            <button class="user-button" id="logout-button">Logout</button>
        </div>
    </div>
    <nav class="navbar">
        <a href="index.html">INICIO</a>
        <a href="forum.html">FORUM</a>
        <a href="#destinos-populares">DESTINOS POPULARES</a>
        <a href="courses.html">CONVALIDACIONES</a>
        <a href="search_destination.html">VER DESTINOS</a>
    </nav>
</header>

<body>
    <!-- Aquí va el resto del contenido de tu página -->

    <h1>Explora los Destinos Disponibles Para tu Erasmus</h1>

    <div id="contenedorExterior">
        <div id="mapa" style="height: 400px;"></div>
    </div>
    <h2>Galeria de Destinos y Antiguos Alumnos Erasmus</h2>

    <div class="galeria-erasmus">
        <img src="../media/1.jpg" alt="1">
        <img src="../media/2.jpg" alt="2">
        <img src="../media/6.jpg" alt="6">
        <img src="../media/4.jpg" alt="4">
        <img src="../media/5.jpg" alt="5">
        <img src="../media/8.jpg" alt="8">
        <!-- Más imágenes según sea necesario -->
      </div>
      
    
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script type="module" src="../scripts/index.js"></script> 
    <script type="module" src="../scripts/header.js"></script>   
</body>
</html>