<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/forms.css">
    <link rel="stylesheet" href="../styles/header.css">
    <title>Login</title>
</head>


<header>
    <div class="top-bar">
        <div class="logo-box">
            <a href="index.html"><img src="../media/logo.png" alt="Logo" class="logo"></a>
        </div>
        <div class="user-box" id="user-box-login">
            <a href="login.html"><button class="user-button" id="login-button">Login</button></a>
        </div>
        <div class="user-box" id="user-box-logout" style="display: none;">
            <button class="user-button" id="logout-button">Logout</button>
        </div>
    </div>
    <nav class="navbar">
        <a href="index.html">INICIO</a>
        <a href="forum.html">FORUM</a>
        <a href="#destinos-populares">DESTINOS POPULARES</a>
        <a href="courses.html">CONVALIDACIONES</a>
        <a href="search_destination.html">VER DESTINOS</a>
    </nav>
</header>

<body>

    <div id="title-container">
        <h1 id="title">Iniciar Sesión</h1>
    </div>
    <div id="form-container">
        <form id="login-form">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
            <label for="password">Contraseña:</label>
            <input type="password" id="password" name="password" required>
            <a href="register.html">Registrarse</a>
            <a href="" id="reset-password">¿Olvidaste tu contraseña?</a>
            <button type="submit" class="user-button">Iniciar Sesión</button>
        </form>
        <p id="temporary-message-login"></p>
    </div>
</body>
    <script type="module" src="../scripts/login.js"></script>
    <script type="module" src="../scripts/header.js"></script>
</html>