<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grados Erasmus</title>
</head>
<body>
    <h1>Grados Disponibles en Erasmus</h1>
    <label for="grado-select">Elige un Grado:</label>
    <select id="grado-select">
      <option value="">Selecciona un grado</option>
      <!-- Las opciones se añadirán dinámicamente con JavaScript -->
    </select>
    <div id="grados-container">
        <!-- Los grados se mostrarán aquí -->
    </div>

    <!-- Plantillas HTML para los elementos que se crean dinámicamente -->
    <template id="universidad-template">
        <div class="universidad">
            <h3 class = "paises-disponibles"></h3>
        </div>
    </template>

    <template id="grado-template">
        <div class="grado">
            <h2 class="grado-nombre"></h2>
            <div class="universidades-container"></div>
        </div>
    </template>

    <script type="module" src="../scripts/pruebas.js"></script>
</body>
</html>
