<form id="searchForm">
    <div>
        <label for="grade">Grado:</label>
        <select id="grade" name="grade">
            <option value="" selected disabled>Seleccione un grado</option>
        </select>
    </div>
    
    <!-- Repite para los otros selects -->
    
    <div>
        <label for="university">Universidad:</label>
        <select id="university" name="university">
            <option value="" selected disabled>Seleccione una universidad</option>
        </select>
    </div>
    
    <div>
        <label for="country">País:</label>
        <select id="country" name="country">
            <option value="" selected disabled>Seleccione un país</option>
        </select>
    </div>
    
    <div>
        <label for="city">Ciudad:</label>
        <select id="city" name="city">
            <option value="" selected disabled>Seleccione una ciudad</option>
        </select>
    </div>
    
    <button type="button" id="confirmButton">Confirmar</button>
</form>

<script type="module" src="../scripts/search_destination.js"></script>
