<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buscar Destino</title>
</head>
<body>

    <form id="searchForm">

        <div>
            <label for="university">Universidad:</label>
            <select id="university" name="university">
                <!-- Las opciones se rellenarán dinámicamente con JavaScript -->
            </select>
        </div>
        
        <div>
            <label for="grade">Grado:</label>
            <select id="grade" name="grade">
                <!-- Las opciones se rellenarán dinámicamente con JavaScript -->
            </select>
        </div>
        
        <div>
            <label for="country">País:</label>
            <select id="country" name="country">
                <!-- Las opciones se rellenarán dinámicamente con JavaScript -->
            </select>
        </div>
        
        <div>
            <label for="city">Ciudad:</label>
            <select id="city" name="city">
                <!-- Las opciones se rellenarán dinámicamente con JavaScript -->
            </select>
        </div>
        
        <button type="submit">Confirmar</button>
    </form>

    <!-- Especifica que el script es un módulo para poder usar import -->
    <script type="module" src="../scripts/search_destination.js"></script>

</body>
</html>
