<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buscar Universidades</title>
    <link rel="stylesheet" href="../styles/search_destination.css">
    <link rel="stylesheet" href="../styles/main.css">
</head>
<body>
    <header>
        <div class="top-bar">
            <div class="logo-box">
                <a href="index.html"><img src="../media/logo.png" alt="Logo" class="logo"></a>
            </div>
            <div class="user-box" id="user-box-login">
                <a href="login.html"><button class="user-button" id="login-button">Login</button></a>
            </div>
            <div class="user-box" id="user-box-logout" style="display: none;">
                <button class="user-button" id="logout-button">Logout</button>
            </div>
        </div>
        <nav class="navbar">
            <a href="index.html">INICIO</a>
            <a href="forum.html">FORUM</a>
            <a href="#destinos-populares">DESTINOS POPULARES</a>
            <a href="courses.html">CONVALIDACIONES</a>
            <a href="search_destination.html">VER DESTINOS</a>
        </nav>
    </header>

    <h1>Buscar Universidades</h1>

    <form id="searchForm">
        <div>
            <label for="grade">Grado:</label>
            <select id="grade" name="grade" autocomplete="off">
                <!-- Cambiado a no deshabilitado para permitir la selección -->
                <option value="" selected>Seleccione un grado</option>
            </select>
        </div>
        
        <div>
            <label for="university">Universidad:</label>
            <select id="university" name="university" autocomplete="off">
                <option value="" selected>Seleccione una universidad</option>
            </select>
        </div>
        
        <div>
            <label for="country">País:</label>
            <select id="country" name="country" autocomplete="off">
                <option value="" selected>Seleccione un país</option>
            </select>
        </div>
        
        <div>
            <label for="city">Ciudad:</label>
            <select id="city" name="city" autocomplete="off">
                <option value="" selected>Seleccione una ciudad</option>
            </select>
        </div>

        <button type="button" id="confirmButton">Confirmar</button>
    </form>
</body>

<script type="module" src="../scripts/search_destination.js"></script>
<script type="module" src="../scripts/header.js"></script>
</html>
