<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Escribir Reseña</title>
    <link rel="stylesheet" href="../styles/main.css" />
    <link rel="stylesheet" href="../styles/writeReviews.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
    />
  </head>
  <body>
    <div class="container">
      <h2>Escribir Reseña del Destino</h2>
      <form action="/submit-review" method="post">
        <label for="destination">Nombre del Destino:</label>
        <input type="text" id="destination" name="destination" />

        <label for="rating">Puntuación:</label>
        <div class="rating">
          <i class="bi bi-star-fill star"></i>
          <i class="bi bi-star-fill star"></i>
          <i class="bi bi-star-fill star"></i>
          <i class="bi bi-star-fill star"></i>
          <i class="bi bi-star-fill star"></i>
          </label>
        </div>

        <label for="review">Reseña:</label>
        <textarea id="review" name="review"></textarea>

        <button type="submit">Enviar Reseña</button>
      </form>
    </div>
    <script src="../scripts/writeReviews.js"></script>
  </body>
</html>
