
body {
    font-family: Arial, sans-serif;
    margin: 0;
  }
/*#################################################################
#######################Estilos de la página#######################
#################################################################
*/

#contenedorExterior{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 50px;
}

#mapa {
    width: 50%;
    height: 100%;
}

body{
    justify-content: center;
    align-items: center;
    text-align: center;
}