:root {
    --Gray: #808080;
    --DarkSlateGray: #2F4F4F;
    --LightSlateGray: #778899;
    --Black: #000000;
    --White: #FFFFFF;
    --LightGray: #D3D3D3;
    --P_DarkYellow: #FBA012;
    --P_LightYellow: #F1B45A;
    --P_DarkBlue: #0F3A6F;
    --P_Blue-Gray: #5D799C;
    --P_Gray: #A7BACC;
}